<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlaskApp - Home</title>
    {# <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"> #}
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.css') }}">
</head>
<body class="bg-secondary">
    <div class="container-fluid">
        <div class="row">
            <div class="border-bottom col-12 d-flex justify-content-center align-items-center">
                <h1 class="p-4 text-light">Welcome to Flask App</h1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                <h2 class="p-3 text-info">Registration Form</h2>
                {#{% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for msg in messages %}
                            <p class="alert alert-primary">{{ msg }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}#}

                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for cat,msg in messages %}
                            {% if cat=='error' %}
                                <p class="alert alert-danger">{{ msg }}</p>
                            {% elif cat=='success' %}
                                <p class="alert alert-success">{{ msg }}</p>
                            {% else %}
                                <p class="alert alert-primary">{{ msg }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form action="" method="post" class="w-50 p-5 bg-white">
                    <div class="mb-3">
                        <input class="form-control" type="text" name="user" placeholder="Enter username">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="password" name="pwd" placeholder="Enter password">
                    </div>
                    <div>
                        <button class="btn btn-danger col-12">Register</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                <h2 class="p-3 text-info">Login Form</h2>
                <form action="/login/" method="get" class="w-50 p-5 bg-white">
                    <div class="mb-3">
                        <input class="form-control" type="text" name="user" placeholder="Enter username">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="password" name="pwd" placeholder="Enter password">
                    </div>
                    <div>
                        <button class="btn btn-success col-12">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>