<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlaskApp - Home</title>
    {# <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"> #}
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.css') }}">
</head>
<body class="bg-secondary">
    <div class="container-fluid">
        <div class="row">
            <div class="border-bottom col-12 d-flex justify-content-center align-items-center">
                <h1 class="p-4 text-light">Welcome to Flask App</h1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                <h2>Login Here</h2>
                <form action="" method="post" class="w-50 p-5 bg-white">
                    {# <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"> #}
                    <div class="mb-3">
                        <input class="form-control" type="text" name="username" placeholder="Enter your username">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="password" name="password" placeholder="Enter your password">
                    </div>
                    <div>
                        <button class="btn btn-success col-12">Sign In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>